<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- - Log4j配置 -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- [公共Appender] 控制台STDOUT -->
	<appender name="STDOUT-APPENDER" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%X{requestURIWithQueryString} %-5p %c{1} - %m%n" />
		</layout>
	</appender>
	<!-- [公共业务日志] -->
	<logger name="com.mljr" additivity="false">
		<level value="INFO" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>
</log4j:configuration>